.content-grid h2 {
  margin: 0 0 var(--spacing-medium) 0;
}

.grid-column h3 {
  font-family: "Charter-Regular";
}

.grid-column h3:nth-child(2n) {
  font-family: "Charter-Bold";
}

.grid-column > hr {
  display: block;
  width: var(--spacing-xxlarge);
  background-color: var(--mars);
  height: 1px;
  border: none;
  margin: var(--spacing-xmedium) 0 0 0;
}

.grid-column:last-of-type > hr {
  display: none;
}
