main#blog .size-blog-thumbnails {
  margin: 0;
}

.content-grid h2 {
  display: inline-block;
  margin: 0 0 var(--spacing-md) 0;
}

.content-grid h2::after {
  content: url("data:image/svg+xml,%3Csvg width='11' height='17' viewBox='0 0 11 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_181_1891)'%3E%3Cpath d='M2.33337 0L0.453369 1.88L6.56004 8L0.453369 14.12L2.33337 16L10.3334 8L2.33337 0Z' fill='%23333030'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_181_1891'%3E%3Crect width='11' height='17' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.content-grid h2 a {
  color: var(--dark-gray);
  text-decoration: none;
  margin: 0 0 var(--spacing-md) 0;
  transition: all 500ms;
}

.content-grid h2 a:hover,
.content-grid h2:hover::after {
  color: var(--regular-gray);
}

article.category-item {
  gap: 8px;
}

main#blog section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

main#blog .category-item h3 {
  font-family: "Charter-Regular";
  font-weight: normal;
  /* margin: var(--spacing-lg) 0 0 0; */
}

main#blog .category-item h3:nth-child(2n) {
  font-family: "Charter-Bold";
  /* margin: var(--spacing-sm) 0 0 0; */
}

main#blog section hr {
  display: block;
  width: 4rem;
  background-color: var(--mars);
  height: 1px;
  border: none;
  margin: 0;
  /* margin: var(--spacing-lg) 0 0 0; */
}

main#blog section hr:last-of-type {
  display: block;
  background-color: transparent;
  /* margin: 0 0 var(--spacing-xxl) 0; */
}
