.pagination {
  display: flex;
  justify-content: center;
  text-transform: none;
  font-family: "MartianMonoCondensed-Light";
  font-size: var(--font-size-heading-3);
  line-height: 1.2;
  margin: var(--spacing-xxlarge) 0 0 0;
  font-weight: 300;
}

.page-numbers {
  color: var(--regular-gray);
  margin: var(--spacing-small);
  border-bottom: 2px solid transparent;
  text-decoration: none;
  transition: all 500ms;
}

.page-numbers.current,
.page-numbers:hover {
  color: var(--dark-gray);
  border-bottom: 2px solid var(--mars);
}
