input[type="search"],
input[type="submit"],
input[type="email"],
select,
select.postform,
button {
  box-sizing: border-box;
  height: 48px;
  width: 100%;
  vertical-align: bottom;
}

input[type="search"],
input[type="email"],
select {
  background-color: var(--white);
  color: var(--regular-gray);
  border-radius: 2px;
  padding: var(--spacing-small);
  border: 0.5px solid var(--regular-gray);
  margin: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-overflow: "";
  width: auto;
  padding-right: var(--spacing-large);
}

select.postform {
  background-image: linear-gradient(45deg, transparent 50%, var(--mars) 50%),
    linear-gradient(135deg, var(--mars) 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px);
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

select.blogform {
  box-sizing: border-box;
  height: auto;
  vertical-align: baseline;
  background-color: transparent;
  padding: 11px 6px 2px 3px;
  font-family: "Charter-Bold";
  font-weight: bold;
  color: var(--dark-gray);
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid var(--dark-gray);
  background-image: linear-gradient(45deg, transparent 50%, var(--mars) 50%),
    linear-gradient(135deg, var(--mars) 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px);
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

input[type="submit"],
button {
  background-color: var(--mars);
  border: 0.5px solid var(--mars);
  border-radius: 2px;
  cursor: pointer;
  width: auto;
  padding: 0 var(--spacing-xmedium);
  margin: 0;
  text-transform: uppercase;
  color: var(--white);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

button.primary {
  width: 100%;
}

input[type="submit"]:hover,
button:hover {
  background-color: var(--mars);
  -webkit-box-shadow: 0 0 0 4px #ee3e2b5f;
  box-shadow: 0 0 0 4px #ee3e2b5f;
  color: #fff;
}
