header,
main,
aside,
footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

header {
  /* position: fixed; */
  /* z-index: 9; */
  width: 100vw;
  position: relative;
  max-width: 100%;
  /* top: 36px; */
  border-bottom: 1px solid var(--dark-gray);
}

/* @media (max-width: 768px) {
  header {
    top: 40px;
  }
} */

main {
  margin-top: var(--spacing-huge);
}

main,
aside {
  width: 100vw;
  max-width: 100%;
  flex: 1;
  display: flex; /* if you remove this line it works on Safari */
}

@media (max-width: 768px) {
  main:not(#home) {
    margin-top: var(--spacing-xhuge);
  }

  main {
    margin-top: var(--spacing-huge);
  }
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  padding-inline: var(--spacing-lg);
  max-width: 1232px;
}

header > .wrapper {
  padding-block: var(--spacing-lg);
  align-items: center;
  justify-content: space-between;
}

aside > .wrapper {
  justify-content: left;
}

@media (max-width: 768px) {
  .wrapper {
    /* padding-inline: var(--spacing-md); */
    flex-flow: column nowrap;
  }

  footer > .wrapper,
  header > .wrapper {
    flex-flow: row nowrap;
  }
}

#logo {
  display: flex;
  align-items: center;
  height: auto;
}

@media (max-width: 768px) {
  #logo img {
    width: 100px;
  }
}

#logo a {
  display: flex;
}

#extra {
  display: flex;
  align-items: center;
  gap: var(--spacing-xl);
}

@media (max-width: 768px) {
  #extra {
    gap: var(--spacing-lg);
  }
}

#header-newsletter {
  background-color: var(--dark-gray);
  color: var(--warm);
  padding-block: var(--spacing-xs);
  padding-inline: var(--spacing-sm);
  border-radius: 2px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#header-newsletter:hover {
  background-color: var(--almost-black);
  -webkit-box-shadow: 0 0 0 4px #6d67675f;
  box-shadow: 0 0 0 4px #6d67675f;
  color: var(--white);
}

@media (max-width: 768px) {
  #header-newsletter {
    display: none;
  }
}

#search-icon {
  display: flex;
  align-items: center;
  height: auto;
}

/* @media (max-width: 768px) {
  #search-icon {
    margin: 0 var(--spacing-md) 0 0;
  }
} */

.content-narrow {
  max-width: 43.75rem;
}

article {
  display: flex;
  flex-direction: column;
}

.page-title {
  width: 100%;
  margin-bottom: var(--spacing-huge);
}

@media (max-width: 768px) {
  .page-title {
    margin-bottom: var(--spacing-xxl);
  }
}

img.size-blog-thumbnails {
  width: 100%;
  height: auto;
  border-radius: 2px;
}

a.category-link {
  font-family: "Space Grotesk";
  font-size: var(--font-size-pill-xs);
  font-weight: 500;
  color: var(--mars);
  text-transform: uppercase;
  text-decoration: none;
  transition: all 500ms;
}

a.category-link:hover {
  text-decoration: underline;
}

/* .category-link-list {
  display: flex;
  gap: var(--spacing-sm);
} */

.wp-block-video {
  margin: var(--spacing-lg) 0;
}

footer {
  flex: 0;
  background-color: var(--light-gray);
  width: 100vw;
  max-width: 100%;
  margin: var(--spacing-huge) 0 0 0;
  padding: var(--spacing-xxl) 0;
}

@media (max-width: 768px) {
  footer {
    padding: var(--spacing-md) 0;
  }
}

#footer-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: var(--spacing-xl);
}

.credits {
  display: flex;
  flex-flow: column nowrap;
}

@media (max-width: 768px) {
  #footer-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.footer-nav {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-self: flex-end;
}

@media (max-width: 768px) {
  .footer-nav {
    width: inherit;
  }
}

.category-list-footer {
  -moz-column-count: 2;
  -moz-column-gap: var(--spacing-xl);
  -webkit-column-count: 2;
  -webkit-column-gap: var(--spacing-xl);
  column-count: 2;
  column-gap: var(--spacing-xl);
}
