header,
#search-container,
main,
aside,
footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

header {
  position: fixed;
  z-index: 9;
  width: 100vw;
  max-width: 100%;
  top: 32px;
  background-color: var(--white);
}

@media (max-width: 948px) {
  header {
    top: 48px;
  }
}

main {
  margin-top: var(--spacing-huge);
}

main,
aside {
  width: 100vw;
  max-width: 100%;
  flex: 1;
  display: flex; /* if you remove this line it works on Safari */
}

@media (max-width: 948px) {
  main {
    margin-top: var(--spacing-big);
  }

  main,
  aside {
    padding-inline: var(--spacing-medium);
  }
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  max-width: var(--max-content);
}

header > .wrapper {
  padding: var(--spacing-xmedium) 0;
}

header > .wrapper {
  align-items: center;
}

aside > .wrapper {
  justify-content: left;
}

@media (max-width: 948px) {
  .wrapper {
    flex-flow: column nowrap;
  }

  footer > .wrapper,
  header > .wrapper {
    flex-flow: row nowrap;
    padding: var(--spacing-medium);
  }
}

@media (max-width: 1232px) and (min-width: 949px) {
  header,
  main,
  footer {
    padding-inline: var(--spacing-medium);
  }
}

#logo {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  height: auto;
}

@media (max-width: 948px) {
  #logo a {
    display: flex;
  }
}

#logo img {
  width: 140px;
  height: auto;
}

@media (max-width: 948px) {
  #logo img {
    width: 112px;
    height: auto;
  }
}

#search-icon {
  display: flex;
  align-items: center;
  height: auto;
  margin: 0 0 0 var(--spacing-large);
}

@media (max-width: 948px) {
  #search-icon {
    margin: 0 var(--spacing-medium) 0 0;
  }
}

#search-icon:hover {
  cursor: pointer;
}

article {
  max-width: 43.75rem;
}

.page-title {
  width: 100%;
  margin-bottom: var(--spacing-big);
}

@media (max-width: 948px) {
  .page-title {
    margin-bottom: var(--spacing-xlarge);
  }
}

.content-grid {
  width: 100%;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  gap: 6rem 3.65rem;
}

img.size-blog-thumbnails {
  margin: 0 0 var(--spacing-large) 0;
  border-radius: 2px;
  height: auto;
}

@media (max-width: 948px) {
  img.size-blog-thumbnails {
    width: 100%;
    margin: var(--spacing-small) 0 var(--spacing-xmedium) 0;
  }
}

a.category-link {
  font-family: "MartianMono-Medium";
  font-size: var(--font-size-pill);
  line-height: 1;
  font-weight: 500;
  display: inline-block;
  color: var(--mars);
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 500ms;
}

a.category-link:hover {
  border-bottom: 1px solid var(--mars);
}

span.separator {
  display: flex;
  gap: var(--spacing-small);
}

hr {
  background-color: var(--regular-gray);
  border-radius: 2px;
  height: 1px;
  border: none;
  margin: var(--spacing-xxlarge) auto;
  width: 75%;
  display: flex;
}

.wp-block-video {
  margin: var(--spacing-xmedium) 0;
}

footer {
  flex: 0;
  background-color: var(--light-gray);
  width: 100vw;
  max-width: 100%;
  margin: var(--spacing-big) 0 0 0;
  padding: var(--spacing-xlarge) 0;
}

@media (max-width: 948px) {
  footer {
    padding: var(--spacing-medium) 0;
  }
}

#footer-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: var(--spacing-large);
}

.credits {
  display: flex;
  flex-flow: column nowrap;
}

@media (max-width: 948px) {
  #footer-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
