header,
#search-container,
main,
aside,
footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

header {
  position: fixed;
  z-index: 9;
  width: 100vw;
  max-width: 100%;
  top: 32px;
  background-color: var(--white);
}

@media (max-width: 768px) {
  header {
    top: 48px;
  }
}

main {
  margin-top: var(--spacing-xxhuge);
}

main,
aside {
  width: 100vw;
  max-width: 100%;
  flex: 1;
  display: flex; /* if you remove this line it works on Safari */
}

@media (max-width: 768px) {
  main:not(#home) {
    margin-top: var(--spacing-xhuge);
  }

  main {
    margin-top: var(--spacing-huge);
  }
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  padding-inline: var(--spacing-md);
  max-width: 1232px;
}

header > .wrapper {
  padding-block: var(--spacing-lg);
}

header > .wrapper {
  align-items: center;
}

aside > .wrapper {
  justify-content: left;
}

@media (max-width: 768px) {
  .wrapper {
    flex-flow: column nowrap;
  }

  footer > .wrapper,
  header > .wrapper {
    flex-flow: row nowrap;
    padding: var(--spacing-md);
  }
}

#logo {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  height: auto;
}

@media (max-width: 768px) {
  #logo a {
    display: flex;
  }
}

#logo img {
  width: 140px;
  height: auto;
}

@media (max-width: 768px) {
  #logo img {
    width: 112px;
    height: auto;
  }
}

#search-icon {
  display: flex;
  align-items: center;
  height: auto;
  margin: 0 0 0 var(--spacing-xl);
}

@media (max-width: 768px) {
  #search-icon {
    margin: 0 var(--spacing-md) 0 0;
  }
}

article.single-post {
  max-width: 43.75rem;
}

article {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.page-title {
  width: 100%;
  margin-bottom: var(--spacing-huge);
}

@media (max-width: 768px) {
  .page-title {
    margin-bottom: var(--spacing-xxl);
  }
}

img.size-blog-thumbnails {
  width: 100%;
  height: auto;
  border-radius: 2px;
}

a.category-link {
  font-family: "MartianMono-Medium";
  font-size: var(--font-size-pill);
  line-height: 1;
  font-weight: 500;
  display: inline-block;
  color: var(--mars);
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 500ms;
}

a.category-link:hover {
  border-bottom: 1px solid var(--mars);
}

.category-link-list {
  display: flex;
  gap: var(--spacing-sm);
}

hr {
  background-color: var(--regular-gray);
  border-radius: 2px;
  height: 1px;
  border: none;
  margin: var(--spacing-xxxl) auto;
  width: 75%;
  display: flex;
}

.wp-block-video {
  margin: var(--spacing-lg) 0;
}

footer {
  flex: 0;
  background-color: var(--light-gray);
  width: 100vw;
  max-width: 100%;
  margin: var(--spacing-huge) 0 0 0;
  padding: var(--spacing-xxl) 0;
}

@media (max-width: 768px) {
  footer {
    padding: var(--spacing-md) 0;
  }
}

#footer-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: var(--spacing-xl);
}

.credits {
  display: flex;
  flex-flow: column nowrap;
}

@media (max-width: 768px) {
  #footer-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
