main#home section:nth-child(2),
main#home section:nth-child(3) {
  margin: var(--spacing-huge) 0 0 0;
}

@media (max-width: 768px) {
  main#home section:nth-child(2),
  main#home section:nth-child(3) {
    margin: var(--spacing-xxxl) 0 0 0;
  }
}

main#home h2 {
  margin: 0 0 var(--spacing-xxl) 0;
}

@media (max-width: 768px) {
  main#home h2 {
    margin: 0 0 var(--spacing-xl) 0;
    text-align: center;
  }
}

section.two-columns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}

section.two-columns:last-of-type {
  gap: 96px;
}

@media (max-width: 1024px) {
  section.two-columns {
    flex-flow: column nowrap;
    gap: var(--spacing-xxl);
  }
}

.newsletter {
  flex: 0 1 50%;
  height: auto;
  order: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.newsletter > h1 {
  max-width: 80%;
}

@media (max-width: 1024px) {
  .newsletter > h1 {
    max-width: 100%;
  }
}

@media (max-width: 1024px) {
  .newsletter {
    order: 2;
  }
}

mark {
  font-family: "Martian Mono";
  font-size: var(--font-size-meta);
  line-height: 1;
  margin: var(--spacing-xxxl) 0 0 0;
  font-weight: 500;
  font-stretch: 77%;
  color: var(--mars);
  padding: 2px 4px;
  background-color: rgba(238, 62, 43, 0.1);

  text-transform: uppercase;
  border-radius: 2px;
}

.lottie {
  flex: 0 1 50%;
  height: auto;
  text-align: center;
  order: 2;
  display: flex;
  justify-content: center;
  align-self: center;
}

.lottie img {
  width: 100%;
}

@media (max-width: 1024px) {
  .lottie {
    order: 1;
    margin: var(--spacing-xl) 0 0 0;
    width: 284px;
    height: 206px;
  }

  .lottie img {
    width: 284px;
    height: 206px;
  }
}

section.one-column {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

.content-grid {
  display: inline-grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6rem 2.8125rem;
}

@media (min-width: 769px) and (max-width: 1200px) {
  .content-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .content-grid {
    gap: 3rem 0;
    justify-items: center;
    grid-template-columns: 1fr;
  }
}

article.home-item {
  gap: var(--spacing-md);
}

.most-read {
  flex: 1 0 60%;
  height: auto;
  order: 1;
  display: flex;
  flex-flow: column wrap;
}

.most-read > article {
  max-width: 100%;
}

.most-read-grid {
  width: 100%;
  background-color: transparent;
  padding: var(--spacing-lg) 0;
  border-bottom: 1px solid var(--dark-gray);
  transition: background-color 500ms;
}

@media (max-width: 768px) {
  .most-read-grid {
    display: flex;
    flex-flow: column wrap;
    gap: var(--spacing-md);
  }
}

.most-read-grid:hover {
  background-color: var(--light-gray);
}

.most-title h3 {
  margin: 0;
}

.most-read,
.categories {
  border-top: 2px solid var(--dark-gray);
  padding-top: var(--spacing-xxl);
}

.categories {
  flex: 1 1 auto;
  height: auto;
  order: 2;
}

.category-cloud {
  display: flex;
  flex-flow: row wrap;
  gap: var(--spacing-md);
}

.most-read-list {
  border: 1px solid red;
}
