#mailerlite-mars {
  width: 568px;
  margin: var(--spacing-lg) 0 0 0;
}

@media (max-width: 768px) {
  #mailerlite-mars {
    width: 100%;
  }
}

#mailerlite-mars > #mlb2-7142255.ml-form-embedContainer .ml-form-align-center {
  text-align: left;
}

#mailerlite-mars > #mlb2-7142255.ml-form-embedContainer .ml-form-embedWrapper.embedForm {
  width: 100%;
  max-width: 100%;
}

#mailerlite-mars
  > #mlb2-7142255.ml-form-embedContainer
  .ml-form-embedWrapper
  .ml-form-embedBody.ml-form-embedBodyHorizontal {
  padding: 0;
}

#mailerlite-mars > #mlb2-7142255.ml-form-embedContainer .ml-form-embedWrapper {
  border-radius: 0;
}

#mailerlite-mars
  > #mlb2-7142255.ml-form-embedContainer
  .ml-form-embedWrapper
  .ml-form-embedBody
  .ml-form-horizontalRow
  input[type="email"] {
  border: 2px solid var(--dark-gray);
  background-color: var(--white);
  border-radius: 2px;
  font-family: Garamond, Georgia, serif;
  font-size: var(--font-size-body);
  line-height: 1.5;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 0.75rem;
}

#mailerlite-mars
  > #mlb2-7142255.ml-form-embedContainer
  .ml-form-embedWrapper
  .ml-form-embedBody
  .ml-form-horizontalRow
  button {
  background-color: var(--mars);
  border: 0.5px solid var(--mars);
  border-radius: 2px;
  cursor: pointer;
  padding: 0 var(--spacing-lg);
  margin: 0;
  text-transform: uppercase;
  color: var(--white);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 48px;

  text-transform: uppercase !important;
  font-family: "MartianMono-Medium";
  font-size: var(--font-size-nav);
  line-height: 1;
  font-weight: 500;
}

#mailerlite-mars
  > #mlb2-7142255.ml-form-embedContainer
  .ml-form-embedWrapper
  .ml-form-embedBody
  .ml-form-horizontalRow
  button:hover {
  background-color: var(--mars);
  -webkit-box-shadow: 0 0 0 4px #ee3e2b5f;
  box-shadow: 0 0 0 4px #ee3e2b5f;
  color: #fff;
}

#mailerlite-mars
  > #mlb2-7142255.ml-form-embedContainer
  .ml-form-embedWrapper
  .ml-form-embedBody
  .ml-form-checkboxRow
  label
  a {
  text-decoration: var(--text-decoration-line) var(--text-decoration-style) var(--dark-gray)
    var(--text-decoration-thickness);
}

#mailerlite-mars
  > #mlb2-7142255.ml-form-embedContainer
  .ml-form-embedWrapper
  .ml-form-embedBody
  .ml-form-checkboxRow
  label
  a:hover {
  color: var(--regular-gray);
  text-decoration: var(--text-decoration-line) var(--text-decoration-style) var(--regular-gray)
    var(--text-decoration-thickness);
}
