#mailerlite-mars {
  width: 568px;
}

@media (max-width: 768px) {
  #mailerlite-mars {
    width: 100%;
  }
}

#mailerlite-mars > #mlb2-7142255.ml-form-embedContainer .ml-form-align-center {
  text-align: left;
}

#mailerlite-mars
  > #mlb2-7142255.ml-form-embedContainer
  .ml-form-embedWrapper.embedForm {
  width: 100%;
  max-width: 100%;
}

#mailerlite-mars
  > #mlb2-7142255.ml-form-embedContainer
  .ml-form-embedWrapper
  .ml-form-embedBody.ml-form-embedBodyHorizontal {
  padding: 0;
}

#mailerlite-mars > #mlb2-7142255.ml-form-embedContainer .ml-form-embedWrapper {
  border-radius: 0;
}

#mailerlite-mars
  > #mlb2-7142255.ml-form-embedContainer
  .ml-form-embedWrapper
  .ml-form-embedBody
  .ml-form-horizontalRow
  input[type="email"] {
  background-color: var(--white);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  font-family: Garamond, Georgia, serif;
  font-size: var(--font-size-body);
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
  transition: all 150ms ease-in-out;

  &:focus-visible {
    box-shadow: none;
    outline: var(--border);
    transform: translate(3px, 3px);
  }

  &::placeholder {
    color: var(--regular-gray);
  }
}

#mailerlite-mars
  > #mlb2-7142255.ml-form-embedContainer
  .ml-form-embedWrapper
  .ml-form-embedBody
  .ml-form-horizontalRow
  button,
#mailerlite-mars > #mlb2-7142255 .ml-mobileButton-horizontal button {
  background-color: var(--mars);
  border: 0.5px solid var(--mars);
  border-radius: var(--border-radius);
  /* DO NOT TOUCH the !important. Mailerlite is doing shitty magic in 400px media query */
  box-shadow: var(--box-shadow) !important;
  cursor: pointer;
  padding: 0 var(--spacing-lg);
  margin: 0;
  color: var(--white);
  transition: all 150ms ease-in-out;
  height: 46.5px;
  text-transform: uppercase !important;
  font-family: "Space Grotesk";
  font-size: var(--font-size-nav) !important;
  letter-spacing: 0.01rem !important;
  line-height: 1;
  font-weight: 700;

  &:hover {
    background-color: var(--dark-mars);
  }

  &:focus-visible {
    box-shadow: inset 0 0 0 3px var(--white), var(--box-shadow);
    outline: 1.5px solid var(--dark-gray);
  }

  &:active {
    background-color: var(--dark-mars);
    box-shadow: none;
    transform: translate(3px, 3px);
  }
}

/* Mailerlite weird things */
#mailerlite-mars > #mlb2-7142255.ml-form-embedContainer button {
  font-family: "Space Grotesk" !important;
  text-transform: uppercase !important;
  letter-spacing: 0.01rem !important;
}
/* Mailerlite weird things */

#mailerlite-mars
  > #mlb2-7142255.ml-form-embedContainer
  .ml-form-embedWrapper
  .ml-form-embedBody
  .ml-form-checkboxRow
  label
  a {
  text-decoration: var(--text-decoration-line) var(--text-decoration-style)
    var(--dark-gray) var(--text-decoration-thickness);
}

#mailerlite-mars
  > #mlb2-7142255.ml-form-embedContainer
  .ml-form-embedWrapper
  .ml-form-embedBody
  .ml-form-checkboxRow
  label
  a:hover {
  color: var(--regular-gray);
  text-decoration: var(--text-decoration-line) var(--text-decoration-style)
    var(--regular-gray) var(--text-decoration-thickness);
}

#mailerlite-mars
  > #mlb2-7142255.ml-form-embedContainer
  .ml-form-embedWrapper
  .ml-form-embedBody
  .ml-form-checkboxRow {
  margin: 0;
}

@media (max-width: 400px) {
  #mailerlite-mars
    > #mlb2-7142255.ml-form-embedContainer
    .ml-form-embedWrapper
    .ml-form-embedBody
    .ml-form-checkboxRow {
    margin-bottom: var(--spacing-md);
  }
}

#mailerlite-mars
  > #mlb2-7142255.ml-form-embedContainer
  .ml-form-embedWrapper
  .ml-form-embedBody
  .ml-form-checkboxRow
  .label-description::before {
  border: var(--border) !important;
  width: 20px;
  height: 20px;
  border-radius: var(--border-radius) !important;
  box-shadow: var(--box-shadow);
}

#mailerlite-mars
  > #mlb2-7142255.ml-form-embedContainer
  .ml-form-embedWrapper
  .ml-form-embedBody
  .ml-form-checkboxRow
  .label-description {
  padding-left: 8px;
  padding-top: 3px;
}

#mailerlite-mars
  > #mlb2-7142255.ml-form-embedContainer
  .ml-form-embedWrapper
  .ml-form-embedBody
  .ml-form-checkboxRow
  .label-description
  p {
  font-size: var(--font-size-nav) !important;
}

#mailerlite-mars
  > #mlb2-7142255.ml-form-embedContainer
  .ml-form-embedWrapper
  .ml-form-embedBody
  .ml-form-checkboxRow
  .label-description::after {
  border: var(--border) !important;
  width: 20px;
  height: 20px;
  background-color: var(--warm);
  content: "";
}

#mailerlite-mars
  > #mlb2-7142255.ml-form-embedContainer
  .ml-form-embedWrapper
  .ml-form-embedBody
  .ml-form-checkboxRow
  input[type="checkbox"]:checked
  ~ .label-description::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns%3d'http%3a%2f%2fwww.w3.org%2f2000%2fsvg' viewBox%3d'0%200%208%208'%3e%3cpath fill%3d'%23EE3E2B' d%3d'M6.564.75l-3.59%203.612-1.538-1.55L0%204.26%202.974%207.25%208%202.193z'/%3e%3c/svg%3e") !important;
}
