#marquee {
  display: flex;
  justify-content: center;
  overflow-x: clip;
  padding-block: 10px;
  background-color: var(--dark-gray);
  position: relative;
  padding-right: 30px;
}

.marquee-element {
  white-space: nowrap;
  text-transform: uppercase;
  animation: marquee 100s linear infinite;
  font-family: "Space Grotesk";
  font-size: var(--font-size-small);
  font-weight: 500;
}

#marquee:hover .marquee-element {
  animation-play-state: paused;
}

.marquee-element::before {
  content: "✦";
  padding-inline: 8px;
  color: var(--regular-gray);
}

.marquee-link {
  display: flex; /* Use flex to align and maintain scrolling behavior */
  align-items: center;
  text-decoration: none;
  color: var(--medium-gray);
  transition: color 0.35s ease;
}

.marquee-link:hover {
  color: var(--white);
}

@keyframes marquee {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

#marquee-close-gradient {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 100;
  padding: 0 var(--spacing-xhuge) 0 0;
  background-image: linear-gradient(to left, var(--dark-gray) 30%, transparent);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

button#close-marquee {
  position: absolute;
  top: 50%;
  padding: 0;
  right: var(--spacing-md);
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 2;
}

button#close-marquee:hover {
  box-shadow: 0 0 0 0;
  opacity: 0.65;
}
