main#page .alignleft {
  max-width: 125px;
  height: auto;
  float: left;
  margin: 0 1em 0 0;
}

main#page h3 {
  font-family: "Space Grotesk";
  font-size: var(--font-size-heading-3);
  line-height: 1.2;
  margin: var(--spacing-xxxl) 0 0 0;
  font-weight: 500;
}

main#page hr {
  margin: var(--spacing-xxxl) auto;
  width: 75%;
  display: flex;
}
