#search-shade {
  background: var(--dark-gray);
  opacity: 0;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 500ms;
  height: 0;
  overflow: hidden;
}

#search-shade.active {
  opacity: 0.25;
  height: 100vh;
}

#search-container {
  display: flex;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: auto;
  top: -100vw;
  left: 0;
  background-color: var(--white);
  transition: opacity 500ms;
  opacity: 0;
}

#search-container.active {
  position: absolute;
  top: 0;
  opacity: 1;
}

#search-container > .wrapper {
  padding: 0 0 var(--spacing-xmedium) 0;
}

.search-input {
  display: flex;
  align-items: center;
  flex: 1 1 80%;
  height: auto;
}

#search-close {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 16px;
}

#search-title {
  padding-bottom: var(--spacing-xlarge);
  border-bottom: 0.5px solid var(--medium-gray);
}

.search-excerpt {
  background-color: var(--light-gray);
  padding: 2px 4px;
  border-radius: 2px;
}

form.search-container {
  display: flex;
  margin: var(--spacing-xmedium) 0 0 0;
  gap: var(--spacing-medium);
}

article.search-results h2 {
  margin: var(--spacing-xlarge) 0 0 0;
}

article.search-results h2 a {
  color: var(--dark-gray);
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 500ms;
}

article.search-results h2 a:hover {
  color: var(--regular-gray);
  text-decoration: none;
  border-bottom: 1px solid var(--regular-gray);
}

article.search-results p {
  margin: var(--spacing-tiny) 0 0 0;
}
