/* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dialog#animating_dialogs */

/*   Open state of the dialog  */
dialog[open] {
  opacity: 1;
  transform: scaleY(1);
}

/*   Closed state of the dialog   */
dialog {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 24px rgb(0 0 0 / 50%);
  opacity: 0;
  transform: scaleY(0);
  transition: opacity 0.4s ease-out;
}

/*   Before-open state  */
/* Needs to be after the previous dialog[open] rule to take effect,
      as the specificity is the same */
@starting-style {
  dialog[open] {
    opacity: 0;
    transform: scaleY(0);
  }
}

/* Transition the :backdrop when the dialog modal is promoted to the top layer */
dialog::backdrop {
  background-color: rgb(0 0 0 / 0%);
  backdrop-filter: blur(2px);
  transition: background-color 1s ease-out, backdrop-filter 1s ease-out;
}

dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 50%);
}

/* This starting-style rule cannot be nested inside the above selector
  because the nesting selector cannot represent pseudo-elements. */

@starting-style {
  dialog[open]::backdrop {
    background-color: rgb(0 0 0 / 0%);
  }
}

/* It was a-me! */
#dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#dialog-header h3 {
  margin: 0;
}

form.search-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
