/* search functionality structure */
#search-shade {
  background: var(--dark-gray);
  opacity: 0;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 500ms;
  height: 0;
  overflow: hidden;
}

#search-shade.active {
  opacity: 0.25;
  height: 100vh;
}

#search-container {
  display: flex;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: auto;
  top: -100vw;
  left: 0;
  background-color: var(--white);
  transition: opacity 500ms;
  opacity: 0;
}

#search-container.active {
  position: absolute;
  top: 0;
  opacity: 1;
}

#search-container > .wrapper {
  padding: var(--spacing-xmedium) 0;
}

@media (max-width: 948px) {
  #search-container > .wrapper {
    align-items: flex-start;
    flex-flow: row wrap;
    padding: var(--spacing-xmedium);
  }
}

/* search form and input structure */

main#search .search-form {
  margin: var(--spacing-small) 0 0 0;
}

.search-form {
  display: flex;
  margin: 0 0 0 0;
  gap: var(--spacing-medium);
  flex-flow: row wrap;
}

@media (max-width: 948px) {
  .search-form {
    flex-flow: column wrap;
  }
}

.search-input {
  display: flex;
  flex: 1 1 80%;
}

#search-close {
  display: flex;
  flex: 0 0 auto;
  cursor: pointer;
  margin-top: var(--spacing-tiny);
}

/* search results page */

.search-highlight {
  background-color: var(--light-gray);
  padding: 2px;
  border-radius: 2px;
}
