ul + .wp-block-image img {
  margin-top: 0;
}

.line {
  background-color: var(--mars);
  height: 2px;
  border-radius: 0;
  width: 0;
  z-index: 999;
  position: fixed;
  top: 0;
}

.wp-video {
  width: 100% !important;
  max-width: 100%;
  height: auto;
  margin: var(--spacing-lg) 0 0 0;
  position: relative;
  z-index: 0;
}

.wp-caption {
  width: 100% !important;
}

article.single-post {
  gap: 0;
}

.single-post h4 {
  margin: 0;
}

.single-post img {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius);
}

.single-post .size-post-thumbnails {
  margin-bottom: var(--spacing-lg);
}

.single-post > ul {
  margin-bottom: var(--spacing-lg);
}

.single-post > .category {
  margin-bottom: var(--spacing-md);
}

.single-post .pill {
  display: flex;
  gap: var(--spacing-sm);
}

.single-post .pill a,
.content-grid .pill a {
  display: inline-block;
  border: var(--border);
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--dark-gray);
  padding: 4px var(--spacing-xs);
  transition: all 300ms ease-in-out;
  line-height: 1.25;
}

.single-post .pill a:hover,
.content-grid .pill a:hover {
  border-color: var(--mars);
  color: var(--mars);
}

.single-post .post-meta {
  display: flex;
  flex-flow: row wrap;
  gap: var(--spacing-md);
  margin-bottom: var(--spacing-xxl);
}

@media (max-width: 768px) {
  .single-post .post-meta {
    gap: var(--spacing-sm);
    margin-bottom: var(--spacing-xl);
  }
}

.single-post hr {
  background-color: var(--regular-gray);
  border-radius: var(--border-radius);
  height: 1px;
  border: none;
  margin: var(--spacing-xxxl) auto;
  width: 75%;
  display: flex;
}

span.meta {
  color: var(--regular-gray);
}

.author,
.reading-time {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.author > img.avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0;
}

.reading-time > img.icon {
  width: 20px;
  height: 20px;
  margin: 0;
}

/* copy URL */
#share-article {
  display: flex;
  flex-direction: column;
  margin-top: var(--spacing-lg);
  gap: var(--spacing-sm);
}

#copy-url-btn {
  background-color: var(--white);
  border: 1px solid var(--medium-gray);
  border-radius: var(--border-radius);
  display: flex;
  color: var(--dark-gray);
  padding: var(--spacing-xs) var(--spacing-sm);
  flex-direction: row;
  align-self: flex-start;
  align-items: center;
  gap: var(--spacing-xs);
  cursor: pointer;
}

#copy-url-btn:hover {
  -webkit-box-shadow: 0 0 0 4px #dbd9d67d;
  box-shadow: 0 0 0 4px #dbd9d67d;
}

#copy-url-btn img {
  width: 18px;
  height: 18px;
  margin: 0;
}

/* newsletter widget */
.newsletter-post {
  display: flex;
  flex-flow: column;
  width: 78%;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 768px) {
  .newsletter-post {
    width: 100%;
  }
}

/* author info */
.author-heading {
  display: flex;
  flex-flow: row;
  gap: var(--spacing-lg);
}

.author-name-position {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: var(--spacing-xs);
}

.author-photo img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

/* related posts */
h2.related-posts {
  margin: 0 0 var(--spacing-xxl) 0;
}

@media (max-width: 768px) {
  h2.related-posts {
    margin: 0 0 var(--spacing-lg) 0;
  }
}

h2.author-related-posts {
  margin: 0 0 var(--spacing-lg) 0;
}

p.author-related-posts {
  margin: 0 0 var(--spacing-xxl) 0;
}

@media (max-width: 768px) {
  .related-post-structure {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .related-post-item {
    display: flex;
    flex-direction: column;
    order: 1;
  }

  .related-post-image {
    order: 2;
  }

  .related-post-image img {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
}
