ol.toc {
  border: 1px solid var(--medium-gray);
  background-color: transparent;
  padding: var(--spacing-lg) !important;
  margin: var(--spacing-xl) 0;
}

ol.toc::before {
  content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='5' y='6' width='10' height='2' rx='1' fill='%23333030'/%3E%3Crect x='1' y='6' width='3' height='2' rx='1' fill='%23333030'/%3E%3Crect x='1' y='10' width='3' height='2' rx='1' fill='%23333030'/%3E%3Crect x='1' y='14' width='3' height='2' rx='1' fill='%23333030'/%3E%3Crect x='5' y='10' width='10' height='2' rx='1' fill='%23333030'/%3E%3Crect x='5' y='14' width='10' height='2' rx='1' fill='%23333030'/%3E%3C/svg%3E%0A")
    "\00a0Ãndice de contenidos";
  display: inline-flex;
  padding-bottom: var(--spacing-md);
}

.single-post ol.toc li::marker {
  color: var(--regular-gray);
}

ol.toc a,
ol.toc li::marker {
  font-size: var(--font-size-toc);
  line-height: 1.25;
}

ol.toc > li > a,
ol.toc > li > ol > li > a {
  color: var(--regular-gray);
  text-decoration: none;
  border-bottom: 0px dotted var(--regular-gray);
  transition: all 250ms;
}

ol.toc > li > a:hover,
ol.toc > li > ol > li > a:hover {
  color: var(--dark-gray);
  text-decoration: var(--text-decoration-line) var(--text-decoration-style)
    var(--dark-gray) var(--text-decoration-thickness);
}

ol.toc > li {
  margin-bottom: 0;
  padding: 0 0 var(--spacing-sm) 0;
}

ol.toc > li:last-child {
  padding: 0 0 0 0;
}

ol.toc li ol li {
  padding: var(--spacing-sm) 0 0 0;
  margin-block: 0;
}

ol.toc li ol {
  margin-bottom: 0;
}
