:root {
  /* colors */
  --dark-gray: hsl(0, 3%, 19%);
  --dark-mars: hsl(6, 85%, 44%);
  --light-gray: hsl(36, 12%, 92%);
  --mars: hsl(6, 85%, 55%);
  --medium-gray: hsl(36, 6%, 85%);
  --regular-gray: hsl(0, 3%, 42%);
  --warm: hsl(40, 20%, 97%);
  --white: hsl(0, 0%, 100%);

  /* sizes */
  --font-size-heading-1: 2rem;
  --font-size-heading-2: 1.4375rem;
  --font-size-heading-3: 1.1875rem;
  --font-size-body: 1.1875rem;
  --font-size-footnotes: 0.9375rem;
  --font-size-meta: 0.9375rem;
  --font-size-small: 0.8125rem;
  --font-size-nav: 0.75rem;
  --font-size-input-label: 0.625rem;
  --font-size-pill: 0.625rem;

  /* spacing */
  --spacing-tiny: 0.375rem;
  --spacing-small: 0.75rem;
  --spacing-medium: 1rem;
  --spacing-xmedium: 1.5rem;
  --spacing-large: 2rem;
  --spacing-xlarge: 3rem;
  --spacing-xxlarge: 4rem;
  --spacing-big: 7rem;
  --spacing-huge: 13.25rem;

  /* breakpoints */
  --mobile: 768px; /* up */
  --tablet: 899px; /* from */
  --max-content: 1232px; /* from */
}
